<div class="row">



  <div class="col">

    <div class="container">

      <button class="btn btn-success mt-5" data-toggle="modal" data-target="#ventanaModal">Cargar Archivos</button>

      <div class="modal fade" id="ventanaModal" tabindex="-1" role="dialog" aria-label="tituloVentana" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content" style="border-radius:20px; border: solid 3px #0031E2">
            <div class="modal-header" style="background-color: #0031E2; color: #fff; border-radius:17px 17px 0px 0px">
              <h5 id="tituloVentana">Cargar archivos</h5>
              <button class="close" data-dismiss="modal" aria-label="Cerrar">
                <span aria-hidden="true" style="color:#fff">&times;</span>
              </button>
            </div>
            <div class="modal-body">



              <!-- contenido de modal body -->

              <div class="row">
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item active">Documentacion Necesaria</li>
                    <li *ngFor="let documento of listaDocumentos" class="list-group-item">• {{documento}}
                      <div appNgDropFiles [archivos]="archivos" class="image-upload float-right">
                        <label for="file-input">
                          <i class=" fas fa-file-upload fa-2x"></i>
                        </label>
                        <input id="file-input" type="file"/>
                      </div>
                  </ul>

                </div>
                <div class="col-6 hide-drop-zone">

                  <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [ngClass]="{ 'file-over': estaSobreElemento }" class=" d-flex align-items-center well drop-zone">

                    <div>
                      <h4 class="pt-2">Arrastre aqui sus archivos</h4>
                      <img src="assets/drop-images.svg" width="40%" alt="" class=" mb-3">
                    </div>

                  </div>
                </div>

                </div>
              </div>



                <div class="col">

                  <table class="table" [hidden] = "archivos.length === 0">
                    <thead class="thead-light">
                      <tr>
                        <th>Archivo Cargado</th>
                        <th>Tamano</th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor = "let archivo of archivos">
                        <td [ngClass]="{ 'text-green': archivo.progreso >= 100 }">{{ archivo.nombreArchivo }}</td>
                        <td>{{ archivo.archivo.size / 1024 /1024 | number: '.2-2'}} MB</td>
                        <td>
                          <i class="float-right far fa-check-circle fa-2x"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>

            </div>
            <div class="modal-footer">
              <!-- <button (click)="cargarImagenes()" class="btn btn-success" [disabled] = "archivos.length === 0" >Subir</button>&nbsp; -->
              <button (click)="limpiarArchivos()" class="btn btn-danger">Limpiar</button>&nbsp;
              <button class="btn btn-success" type="button" data-dismiss="modal">Listo</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <table class="table" [hidden] = "archivos.length === 0">
      <thead class="thead-dark">
        <tr>
          <th>Nombre archivo</th>
          <th>Tamano</th>
          <th>Progreso</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor = "let archivo of archivos">
          <td [ngClass]="{ 'text-green': archivo.progreso >= 100 }">{{ archivo.nombreArchivo }}</td>
          <td>{{ archivo.archivo.size / 1024 /1024 | number: '.2-2'}} MB</td>
          <td>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div [hidden] = "archivos.length === 0">

      <button (click)="cargarImagenes()" class="btn btn-success" [disabled] = "archivos.length === 0" >Subir archivos</button>&nbsp;
      <!-- <button (click)="limpiarArchivos()" class="btn btn-danger">Limpiar</button> -->

    </div>



  </div>
</div>
